
# Ignore everything:
**

# Except:
!mmdet
!configs
!sahi
!tools
!work_dirs/mm_grounding_dino_real_filtered_epoch10/
!label_studio/**
!projects/LabelStudio/**
!checkpoints



!README.md
!licenses/**
!LICENSE
!pyproject.toml
!poetry.lock
!download_bert_nltk_weights.py
